<!-- Begin portfolio section -->
<section id="portfolio-section" class="page">
<!-- TODO Criar formulário da campanha (Ver anotação no papel)-->
  <!-- Begin page header-->
  <div class="page-header-wrapper">
    <div class="container">
      <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
        <h1>Últimos
          <span class="text-main">projetos</span>
        </h1>
        <div class="divider divider-md divider-icon">//</div>
      </div>
    </div>
  </div>
  <!-- End page header-->

  <!-- Begin portfolio -->
  <div class="portfolio">
    <div class="container-fluid">
      <div class="row">
        <% @portfolios.each do |portfolio| %>
          <%= render "layouts/portfolio_item", portfolio: portfolio %>
        <% end %>
        <!-- Portfolio item-1 -->
        <div class="portfolio-item col-sm-6 col-md-6 col-lg-3 wow flipInX" data-wow-delay="0.2s">
          <a href="#" class="thumbnail" data-toggle="modal" data-target="#portfolioModal-1">
            <%= image_tag "/img/portfolio/jao-1.jpg", alt: "JAO" %>
            <div class="cover"></div>
            <div class="caption">
              <div class="caption-content text-center">
                <h2>JAO Unifor</h2>
                <div class="divider divider-sm"></div>
                <p>Jornada Acadêmica de Odontologia da Unifor.</p>
              </div>
            </div>
          </a>
        </div>

        <!-- Begin portfolio modal-1 (Carousel Portfolio) -->
        <div class="modal fade" id="portfolioModal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-5" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content text-white">
              <div class="close" data-dismiss="modal">
                <div class="lr">
                  <div class="rl"></div>
                </div>
              </div>
              <div class="container">
                <div class="modal-body">
                  <div class="row">
                    <div class="col-lg-7">
                      <div class="modal-image">
                        <div class="owl-carousel owl-portfolio-modal">
                          <%= image_tag "/img/portfolio/jao-1.jpg", alt: "Página inicial." %>
                          <%= image_tag "/img/portfolio/jao-2.jpg", alt:"Página de certificados." %>
                          <%= image_tag "/img/portfolio/jao-3.jpg", alt:"Página de galeria de fotos." %>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-5">
                      <div class="modal-header">
                        <h2 class="modal-title" id="myModalLabel-5">JAO Unifor</h2>
                        <div class="divider divider-sm divider-white divider-left"></div>
                      </div>
                      <div class="modal-text">
                        <p>
                          Site institucional e sistema para recebimento de trabalhos.
                        </p>
                        <p>
                          A Jornada Acadêmica de Odontologia da Universidade de Fortaleza (JAO)
                          é o mais antigo evento acadêmico de odontologia do estado do Ceará.
                          Desde 1998, a Coordenação e a Comissão da JAO do Curso de Odontologia
                          realizam essa Jornada Acadêmica.
                        </p>
                      </div>
                      <div class="modal-details">
                        <ul>
                          <li>Cliente:
                            <strong>
                              <a href="http://jaoodontounifor.com" target="_blank">JAO Unifor</a>
                            </strong>
                          </li>
                          <li>Data:
                            <strong>
                              <a>2017</a>
                            </strong>
                          </li>
                          <li>Serviço:
                            <strong>
                              <a>Desenvolvimento WEB</a>
                            </strong>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <p>2017 &copy Todos os direitos reservados</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End portfolio modal-1 -->

        <!-- Portfolio item-2 -->
        <div class="portfolio-item col-sm-6 col-md-6 col-lg-3 wow flipInX" data-wow-delay="0.3s">
          <a href="#" class="thumbnail" data-toggle="modal" data-target="#portfolioModal-2">
            <%= image_tag "/img/portfolio/portfolio-2.jpg", alt: "..." %>
            <div class="cover"></div>
            <div class="caption">
              <div class="caption-content text-center">
                <h2>Vimeo Portfolio</h2>
                <div class="divider divider-sm"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
              </div>
            </div>
          </a>
        </div>

        <!-- Begin portfolio modal-2 (Vimeo Portfolio) -->
        <div class="modal fade" id="portfolioModal-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-6" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content text-white">
              <div class="close" data-dismiss="modal">
                <div class="lr">
                  <div class="rl"></div>
                </div>
              </div>
              <div class="container">
                <div class="modal-body">
                  <div class="row">
                    <div class="col-lg-7">
                      <div class="embed-responsive embed-responsive-16by9">
                        <!-- <iframe src="http://player.vimeo.com/video/47505825" allowfullscreen></iframe> -->
                      </div>
                    </div>
                    <div class="col-lg-5">
                      <div class="modal-header">
                        <h2 class="modal-title" id="myModalLabel-6">Vimeo Portfolio</h2>
                        <div class="divider divider-sm divider-white divider-left"></div>
                      </div>
                      <div class="modal-text">
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                      </div>
                      <div class="modal-details">
                        <ul>
                          <li>Client:
                            <strong>
                              <a href="https://creativemarket.com/Themetorium" target="_blank">Envato Market</a>
                            </strong>
                          </li>
                          <li>Date:
                            <strong>
                              <a href="https://creativemarket.com/Themetorium" target="_blank">April 2014</a>
                            </strong>
                          </li>
                          <li>Service:
                            <strong>
                              <a href="https://creativemarket.com/Themetorium" target="_blank">Web Development</a>
                            </strong>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <p>Copyright ©2014, All Rights Reserved</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End portfolio modal-2 -->
      </div>
      <!-- /.row -->

      <!-- Begin view-more button -->
      <div class="view-more text-center">
        <a href="#" class="btn btn-main btn-lg" role="button">Veja mais..</a>
      </div>
      <!-- End view-more button -->

    </div>
    <!-- /.container -->
  </div>
  <!-- End portfolio -->
</section>
<!-- End portfolio section -->
